* {
    box-sizing: border-box;
    margin: 0;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    background-color: #449F51;
    padding: 10px;
}

.items {
    margin-left: 10px;
    margin-right: 10px;
}

.title-footer {
    font-size: 36px;
    font-weight: 800;
    line-height: 43px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    padding: 20px 10px 10px 10px;
}

.footer-container {
    padding: 6px 10px;
    border-top: 2px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.reach-us-items {
    display: flex;

}

.title, .content {
    color: #FFFFFF;
    font-family: 'Noto Sans Thai', sans-serif;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.content {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 10px 0 0;
}

.reach-us-items img {
    width: 30px;
    height: 30px;
    margin: 10px 0;
}

.contact {
    background-color: #95C7A3;
    border-radius: 12px;
    padding: 8px 10px;
}

.input-contact input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 4px 6px 4px 4px;
    border: none;
    max-width: 180px;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #449F51;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 9px 10px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media (max-width: 767px) {
    .container-fluid {
        padding-bottom: 1.5rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
}
