<footer>
  <div class="container-fluid">
    <div class="title-footer-container">
      <h1 class="title-footer">ELSTHAI TOGETER</h1>
    </div>
    <div class="footer-container">

      <div class="reach-us items">
        <h3 class="title">Reach us</h3>
        <div class="reach-us-items">
          <img src="/assets/images/icons8-phone-32.png" alt="">
          <p class="content">089-895-1306</p>
        </div>
        <div class="reach-us-items">
          <img src="/assets/images/icons8-mail-24.png" alt="">
          <p class="content">elsthai@yahoo.com</p>
        </div>
        <div class="reach-us-items">
          <img src="/assets/images/icons8-address-24.png" alt="">
          <p class="content">เลขที่ 47 หมูบ้านพหลโยธินกอล์ฟ
            ถนนพหลโยธิน ซอย 19 /1
            แขวงลาดยาว เขตจตุจักรกรุงเทพฯ 10900</p>
        </div>
      </div>

      <div class="home-overview-timeline items">
        <h3 class="title">หน้าหลัก</h3>
        <p class="content">Taking the message of freedom to the end of the earth through</p>
      </div>

      <div class="home-overview-timeline items">
        <h3 class="title">ภาพรวมโครงการ</h3>
        <p class="content">Taking the message of freedom to the end of the earth through </p>
      </div>

      <div class="home-overview-timeline items">
        <h3 class="title">แผนระยะพัฒนาโครงการ</h3>
        <p class="content">Taking the message of freedom to the end of the earth through </p>
      </div>

     <!--  <div class="contact items">
        <h3 class="title">ติดต่อเรา</h3>
        <div class="input-contact">
          <input type="text" placeholder="Your email address"><button type="submit" class="btn-primary">Subscribe</button>
        </div>
        <p class="content">*  Will send you weekly updates for your better tool management.</p>
      </div> -->
    </div>
  </div>
</footer>
