  <div class="container">
      <div class="home">
        <div class="left">
          <h3 class="title green">ELSTHAI</h3>
          <h3 class="title blue">TOGETHER</h3>
          <p class="content">เว็บไซต์เพื่อเยาวชนนอกการศึกษาจังหวัดชลบุรี ใช้สำหรับดูข้อมูลและสถานะโครงการของมูลนิธิ เพื่อการศึกษาและสังคมภายใต้โครงการของ กสศ </p>
          <div class="logo">
            <img src="/assets/images/logo2.png" alt="Logo Website" class="logo1">
            <img src="/assets/images/logo1.png" alt="Logo Website" class="logo2">
          </div>
          <p class="content-sub">เว็บไซต์อยู่ภายใต้ พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562</p>
        </div>
        <div class="right">
          <img src="/assets/images/img.png" alt="Images">
        </div>
      </div>


      <!--About US-->
      <div class="about">
        <div class="heading">
          <h1 class="header th">เกี่ยวกับเรา</h1>
          <h1 class="header en">(ABOUT US)</h1>
        </div>
        <div class="about-content">
          <div class="about-left">
            <img src="/assets/images/img-about.png" alt="Images About us">
          </div>
          <div class="about-right">
            <h2 class="title-content">มูลนิธิการศึกษาเพื่อชีวิตและสังคม</h2>
            <p class="text-content">แสดงข้อมูลเกี่ยวกับมูลนิธิการศึกษาเพื่อชีวิตและสังคม</p>

            <div class="items-content">
              <div class="img-content">
                <img src="/assets/images/about-img.png" alt="Images">
              </div>
              <div class="details-content">
                <b class="title-items-content ">มูลนิธิการศึกษาเพื่อชีวิตและสังคม</b>
                <p class="text-items-content">We convert any design file: PSD, Sketch, Figma, Adobe XD to pixel-perfect,</p>
              </div>
            </div>
            <div class="items-content">
              <div class="img-content">
                <img src="/assets/images/about-img1.png" alt="Images">
              </div>
              <div class="details-content">
                <b class="title-items-content ">วัตถุประสงค์ของโครงการ</b>
                <p class="text-items-content">We convert any design file: PSD, Sketch, Figma, Adobe XD to pixel-perfect</p>
              </div>
            </div>
            <div class="items-content">
              <div class="img-content">
                <img src="/assets/images/about-img1.png" alt="Images">
              </div>
              <div class="details-content">
                <b class="title-items-content ">พัฒนาทักษะต่อยอดเพื่อสร้างอาชีพ</b>
                <p class="text-items-content">We do highly customizable, easy-to-manage, and extendable WordPress solutions</p>
              </div>
            </div>
            <div class="items-content">
              <div class="img-content">
                <img src="/assets/images/about-img2.png" alt="Images">
              </div>
              <div class="details-content">
                <b class="title-items-content ">ความร่วมมือ</b>
                <p class="text-items-content">We know the ins and outs of Shopify & WooCommerce and we can help you get your </p>
              </div>
            </div>
            <a class="btn" routerLink="/about">อ่านต่อ</a>
          </div>
        </div>
      </div>


      <!-- Project Overview-->
      <div class="project-overview">
        <div class="heading">
          <h1 class="header th">ภาพรวมโครงการ</h1>
          <h1 class="header en">(PROJECT OVERVIEW)</h1>
        </div>
        <div class="content-overview-container">
          <p class="content-overview">โครงการนำข้อมูลจากพื้นที่มาวิเคราะห์ และทำภาพรวมโครงการ เพื่อแสดงภาพรวมของข้อมูลของโครงการ
            ให้บุคคลภายนอกรับทราบเพื่อติดตามผลของโครงการต่อไป โดยจะแบ่งประเภทข้อมูลดังนี้</p>
        </div>
        <div class="items-overview-container">
          <div class="item-overview">
            <img src="/assets/images/img-1.png" alt="Images">
            <p class="content-overview-text">แผนที่แสดงภาพรวมพื้นที่ ของเยาวชนผู้เข้าร่วมโครงการ</p>
          </div>
          <div class="item-overview">
            <img src="/assets/images/img-2.png" alt="Images">
            <p class="content-overview-text">แผนที่แสดงภาพรวมพื้นที่ ของเยาวชนผู้เข้าร่วมโครงการ</p>
          </div>
          <div class="item-overview">
            <img src="/assets/images/img-3.png" alt="Images">
            <p class="content-overview-text">ภาพรวมข้อมูลภาพรวม ของเยาวชนผู้เข้าร่วมโครงการ</p>
          </div>
          <div class="item-overview">
            <img src="/assets/images/img-4.png" alt="Images">
            <p class="content-overview-text">ภาพรวมทักษะและการศึกษา ของเยาวชนผู้เข้าร่วมโครงการ</p>
          </div>
        </div>
        <a routerLink="/overview" class="btn">อ่านต่อ</a>
      </div>


      <!--Project Timeline-->
      <div class="project-timeline">
        <div class="heading">
          <h1 class="header th">แผนระยะพัฒนาโครงการ</h1>
          <h1 class="header en">(PROJECT TIMELINE)</h1>
        </div>
        <div class="project-timeline-container">
          <div class="left-project-timeline">
            <div class="items-project-timeline">
              <div class="img">
                <img src="/assets/images/img-timeline1.png" alt="Images">
              </div>
              <div class="project-timeline-content">
                <h2 class="title-project-timeline">ระยะแผนโครงการที่ 1</h2>
                <p class="text-project-timeline">การรวบรวมข้อมูลผู้เข้าร่วมโครงการ นำมาทำการวิเคราะห์เพื่อนำมาพัฒนาแผนการเรียนรู้</p>
              </div>
            </div>

            <div class="items-project-timeline">
              <div class="img">
                <img src="/assets/images/img-timeline2.png" alt="Images">
              </div>
              <div class="project-timeline-content">
                <h2 class="title-project-timeline">ระยะแผนโครงการที่ 2</h2>
                <p class="text-project-timeline">การรวบรวมข้อมูลผู้เข้าร่วมโครงการ นำมาทำการวิเคราะห์เพื่อนำมาพัฒนาแผนการเรียนรู้</p>
              </div>
            </div>

            <div class="items-project-timeline">
              <div class="img">
                <img src="/assets/images/img-timeline3.png" alt="Images">
              </div>
              <div class="project-timeline-content">
                <h2 class="title-project-timeline">ระยะแผนโครงการที่ 3</h2>
                <p class="text-project-timeline">การรวบรวมข้อมูลผู้เข้าร่วมโครงการ นำมาทำการวิเคราะห์เพื่อนำมาพัฒนาแผนการเรียนรู้</p>
              </div>
            </div>
            <a routerLink="/timeline" class="btn">อ่านต่อ</a>
          </div>
          <div class="right-project-timeline">
            <img src="/assets/images/img-timeline.png" alt="Images">
          </div>
        </div>
      </div>


      <!--Contact-->
      <div class="contact">
          <div class="heading">
            <h1 class="header th">ติดต่อเรา</h1>
            <h1 class="header en">(CONTACT)</h1>
          </div>
          <div class="contact-container">
            <div class="left-contact">
              <img src="/assets/images/img-timeline.png" alt="Map" class="img-contact">
            </div>
            <div class="right-contact">
              
              <div class="title-contact-container">
                <div class="wrap-title-contact">
                  <h1 class="title-contact">ข้อมูลผู้ติดต่อ</h1>
                  <p class="text-contact">มูลนิธิการศึกษาเพื่อชีวิตและสังคม</p>
                </div>
                <div class="logo-contact">
                  <img src="/assets/images/logo1.png" alt="Logo">
                </div>
              </div>
            

            <div class="data-contact">
              <img src="/assets/images/icons8-phone-50.png" alt="Telephone img">
              <p>089-895-1306</p>
            </div>
            <div class="data-contact">
              <img src="/assets/images/icons8-mail-50.png" alt="Email img">
              <p>elsthai@yahoo.com</p>
            </div>
            <div class="data-contact">
              <img src="/assets/images/icons8-address-48.png" alt="Address img">
              <p>เลขที่ 47 หมูบ้านพหลโยธินกอล์ฟ
                ถนนพหลโยธิน ซอย 19 /1
                แขวงลาดยาว เขตจตุจักร
                กรุงเทพฯ 10900</p>
            </div>

            <a routerLink="/contact" class="btn">อ่านต่อ</a>
          </div>
        </div>
    </div>
  </div>