* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Thai", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.home {
    font-family: "Inter", sans-serif;
}

.title {
    font-size: 66px;
    line-height: 20px;
    margin: 60px 0 0 0;
}

.green {
    color: #60c90d;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.blue {
    color: #005a93;
    text-shadow: 0 4px 4px #00000040;
}

.content {
    color: #005a93;
    font-size: 20px;
    margin: 50px 10px 10px 10px;
}

.logo {
    display: flex;
    margin-bottom: 16px;
}

.logo img {
    width: 100px;
    margin: auto;
    display: block;
}

.content-sub {
    font-size: 16px;
    margin: 10px;
}

.right img {
    width: 100%;
    display: none;
}

// Start About US CSS

.about-right {
    display: flex;
    flex-direction: column;
}

.heading {
    background-color: #449f51;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.header {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.about-content {
    background-color: #ebfaf4;
}

.about-left img {
    width: 100%;
    display: none;
}

.title-content,
.text-content {
    color: #000d2f;
    margin-left: 10px;
    margin-right: 10px;
}

.title-content {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}

.text-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 20px;
}

.items-content {
    display: flex;
    margin: 10px;
}

.img-content {
    margin-top: 24px;
}

.details-content {
    margin: 10px;
}

.btn {
    color: #ffffff;
    background-color: #00d285;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    margin: 20px auto;
    padding: 12px 58px;
    text-decoration: none;
    font-family: "Noto Sans Thai", sans-serif;
    transition: all 500ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #5fb96d;
}

// Start CSS Project-Overview

.project-overview {
    display: flex;
    flex-direction: column;
}

.content-overview {
    margin: 20px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.items-overview-container {
    display: flex;
    flex-direction: column;
}

.item-overview {
    display: flex;
    margin: 10px 20px;
}

.item-overview img {
    width: 80px;
    height: 80px;
}

.content-overview-text {
    margin: 16px 10px 10px 20px;
}

// Start Project timeline CSS

.items-project-timeline {
    display: flex;
    margin: 0 0 10px 10px;
}

.left-project-timeline {
    display: flex;
    flex-direction: column;
}

.items-project-timeline .img img {
    width: 30px;
    margin-top: 40px;
}

.project-timeline-content {
    margin: 0 20px;
}

.title-project-timeline,
.text-project-timeline {
    font-size: 16px;
    line-height: 24px;
}

.title-project-timeline {
    font-weight: 600;
}

.project-timeline-container {
    display: flex;
    flex-direction: column;
    background-color: #ebfaf4;
    padding-top: 30px;
}

.right-project-timeline {
    display: none;
}

// Stat Contact CSS

.right-contact {
    display: flex;
    flex-direction: column;
}

.img-contact {
    width: 100%;
    height: 400px;
}

.title-contact-container {
    display: flex;
    margin-top: 20px;
}

.logo-contact img {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.wrap-title-contact {
    margin: 10px;
}

.title-contact {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}

.data-contact {
    display: flex;
    margin: 10px;
}

.data-contact img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.data-contact p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.th {
    font-family: "Noto Sans Thai", sans-serif;
}

.en {
    font-family: "Poppins", sans-serif;
}

$breakpoint-phone: 480px;
$breakpoint-tablet: 769px;
$breakpoint-laptop: 990px;
$breakpoint-pc: 1280px;
@media (max-width: 479px) {
    .container {
        margin: auto;
    }

    .title {
        font-size: 4rem;
        line-height: 16px;
    }
}

// Display screen 480px to 769px
@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
    .title {
        font-size: 5rem;
        line-height: 1.2rem;
    }

    .content {
        margin-top: 60px;
        margin-right: 30px;
    }

    .logo1,
    .logo2 {
        justify-self: center;
    }
}

//Media 769px to 990px
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    .home {
        display: flex;
    }

    .title {
        font-size: 68px;
    }

    .content {
        font-size: 16px;
        margin-right: 30px;
    }

    .content-sub {
        font-size: 14px;
    }

    .logo1 {
        padding-top: 20px;
    }

    .left {
        margin-top: 60px;
        margin-left: 30px;
    }

    .left,
    .right {
        max-width: 45%;
    }
    .right {
        margin-top: 30px;
    }

    .right img {
        display: block;
        width: 100%;
        height: 460px;
        margin: 30px;
    }

    .header {
        line-height: 20px;
        padding-top: 14px;
        padding-bottom: 18px;
    }

    //About us

    .about-content {
        display: flex;
        flex-direction: row;
    }

    .about-left {
        padding: 24px;
    }

    .about-left img {
        display: block;
        margin-top: 40px;
        max-width: 600px;
    }

    .title-content {
        font-size: 22px;
        line-height: 30px;
    }

    .text-content {
        font-size: 14px;
    }

    .title-items-content {
        font-size: 16px;
    }

    .text-items-content {
        font-size: 14px;
    }

    .img-content img {
        width: 40px;
        height: 40px;
    }

    .items-content {
        margin: 4px;
    }

    .details-content {
        margin-left: 20px;
        margin-right: 10px;
    }

    // Project Overview

    .project-overview {
        display: flex;
        flex-direction: column;
    }

    .items-overview-container {
        display: flex;
        flex-direction: row;
    }

    .item-overview {
        display: flex;
        flex-direction: column;
    }

    .item-overview img {
        margin: auto;
    }

    .content-overview-text {
        margin-top: 16px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        padding: 12px;
        font-size: 16px;
        line-height: 22px;
    }

    //Project Timeline CSS

    .project-timeline {
        display: flex;
        flex-direction: column;
    }

    .project-timeline-container {
        display: flex;
        flex-direction: row;
    }

    .left-project-timeline {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 20px;
        margin-bottom: 60px;
        max-width: 63%;
    }

    .right-project-timeline {
        display: block;
        padding: 40px;
    }

    .right-project-timeline img {
        max-width: 400px;
        height: 300px;
    }

    //Contact CSS

    .data-contact p {
        margin-left: 16px;
    }

    .title-contact-container {
        margin-bottom: 30px;
        margin-left: 16 px;
        margin-right: 20px;
    }

    .btn {
        margin-top: 24px;
        margin-bottom: 40px;
    }
}

// Display screen 990px to 1280px
@media (min-width: $breakpoint-laptop) {
    //Home

    .home {
        display: flex;
        flex: row;
        max-width: 1200px;
    }

    .title {
        font-size: 82px;
        line-height: 60px;
    }

    .left {
        margin-top: 65px;
        margin-left: 40px;
    }

    .right img {
        display: block;
        margin-top: 60px;
        padding: 30px 40px;
    }

    .logo {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    //About US

    .about-left {
        margin: 50px;
    }

    .about-left img {
        display: block;
        max-width: 500px;
    }

    .about-content {
        display: flex;
        flex-direction: row;
    }

    .text-items-content {
        margin-top: 8px;
        line-height: 22px;
    }

    //Project-Overview

    .content-overview-container {
        margin: 60px 70px 60px 60px;
    }

    .items-overview-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .item-overview {
        display: flex;
        flex-direction: column;
    }

    .item-overview img {
        align-self: center;
        width: 100px;
    }

    //Project timeline

    .right-project-timeline {
        display: block;
    }

    .right-project-timeline img {
        max-width: 300px;
        margin: 30px;
        margin-right: 40px;
    }

    .project-timeline-container {
        display: flex;
        flex-direction: row;
    }

    .left-project-timeline {
        margin: 50px;
    }

    .items-project-timeline {
        margin-bottom: 40px;
    }

    .items-project-timeline .img img {
        width: 46px;
        margin-top: 10px;
    }

    //contact

    .contact {
        margin-bottom: 80px;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
    }

    .left-contact,
    .right-contact {
        margin-top: 80px;
    }

    .left-contact {
        width: 65%;
    }

    .left-contact img {
        max-width: 600px;
        height: 500px;
    }

    .right-contact {
        margin-left: 20px;
        margin-right: 20px;
    }

    .btn {
        margin-top: 50px;
    }
}
