* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans Thai', sans-serif;
}

.logo-container {
    background-color: #EBFAF4;
}

.logo-super-container {
    max-width: 1080px;
    display: flex;
    margin: auto;
}

.logo, .about-us {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 55%;
}

.about-us {
    width: 45%;
    align-content: center;
    margin: auto;
    position: relative;
}

.title-brand {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.logo img {
    display: block;
    width: 70%;
    max-width: 350px;
    margin: auto;
}

.line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #00D285;
    left: -60px;
    bottom: 48px;
}
//End logo CSS



.container {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    padding: 10px;
}

.google-map-container {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

.google-map-container img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.contact {
    display: flex;
    padding: 0 10px;
}

.line-container{ 
    background-color: #EBFAF4;
    padding: 60px 0;
    width: 50%;
    margin: auto;
}

.line-container  img {
    display: block;
    margin: auto;
}

.info-contact {
    width: 40%;
    margin: auto;

}

.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.green-text {
    color: #449F51;
}

.header {
    display: flex;
}

.left-header {
    width: 70%;
}

.left-header h3 {
    font-size: 28px;
    line-height: 40px;
}

.left-header p {
    font-size: 18px;
}

.right-header {
    width: 30%;
}

.right-header img {
    width: 100%;
    height: 80px;
}

.items-contact {
    display: flex;
    margin: 30px auto;
}

.items-contact img {
    width: 40px;
    height: 40px;
}

.items-contact p {
    padding: 10px 16px;
}

#map {
    width: 100%;
    height: 50vh;
}


@media (max-width: 660px){

    .container {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .google-map-container {
        width: 100%;
        height: 200px;
        margin: 0 auto 50px auto;
    }

    .google-map-container img {
        height: 300px;
    }

    .contact {
       display: flex;
       flex-direction: column;
       margin: 120px auto;
    }
    
    .line-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        margin-bottom: 65px;
    }

    .info-contact {
        width: 100%;
    }

    .logo img{
        display: block;
        margin: auto;
    }

    .title-brand {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 600;
    }

    .line {
        display: none;
    }
}

