<div class="logo-container">
    <div class="logo-super-container">
        <div class="logo">
            <img src="/assets/images/about/about-logo.png" alt="">
        </div>
        <div class="about-us">
            <div class="line"></div>
            <h3 class="title-brand">ติดต่อเรา</h3>
            <h3 class="title-brand">(CONTACT)</h3>
        </div>
    </div>
</div>



<div class="container">
    <div class="google-map-container">
        <div id="map"></div>
    </div>
    <div class="contact">
        <div class="line-container">
            <h1 class="title green-text">LINE Official Account</h1>
            <img src="/assets/images/line.png" alt="Line Code">
            <h1 class="title">@elsthaiofficial</h1>
        </div>
        <div class="info-contact">
            <div class="header">
                <div class="left-header">
                    <h3>ข้อมูลติดต่อ</h3>
                    <p>มูลนิธิการศึกษาเพื่อชีวิตและสังคม</p>
                </div>
                <div class="right-header">
                    <img src="/assets/images/logo1.png" alt="">
                </div>
            </div>
            <div class="items-contact">
                <img src="/assets/images/icons8-phone-50.png" alt="tel-icons">
                <p>089-895-1306</p>
            </div>
            <div class="items-contact">
                <img src="/assets/images/icons8-mail-50.png" alt="email-icons">
                <p>elsthai@yahoo.com</p>
            </div>
            <div class="items-contact">
                <img src="/assets/images/icons8-address-48.png" alt="address-icons">
                <p>เลขที่ 47 หมูบ้านพหลโยธินกอล์ฟ ถนนพหลโยธิน ซอย 19 /1 แขวงลาดยาว เขตจตุจักร กรุงเทพฯ 10900</p>
            </div>
        </div>
    </div>
</div>
