::ng-deep .p-dialog.p-confirm-dialog.p-component {
    width: 40vw !important;
}

::ng-deep .p-dialog .p-dialog-header {
background-color: green !important;
color: white !important;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
color: white !important;
}

::ng-deep .p-dialog .p-dialog-content {
padding: 1rem;
color: black !important;
border-bottom: none
}

::ng-deep .p-dialog .p-dialog-footer {
color: white !important;
padding: 1rem;
border-top: none
}
