<div class="grid">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-plus"
                label="Add"
                class="p-button-success mr-2 mb-2"
                (click)="addRoleFunction()"
            ></button>
        </div>
        <div class="card">
            <div class="grid">
                <div class="col-12 md:col-10 lg:col-10">
                    <h5>จัดการ Role</h5>
                </div>
            </div>
            <p-table
                #tableref
                [value]="roleModels"
                dataKey="id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="[
                    'firstName'
                ]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Clear"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(tableref)"
                        ></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="
                                        tableref.filterGlobal(
                                            $any($event.target).value,
                                            'contains'
                                        )
                                    "
                                placeholder="ค้นหาชื่อตำแหน่ง"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 2rem">
                            <div>ลำดับ</div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                ตำแหน่ง
                            </div>
                        </th>
                        <th style="width: 8rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                ตัวเลือก
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role let-rowIndex="rowIndex">
                    <tr>
                        <td style="min-width: 2rem">
                            <span>{{ rowIndex + 1 }}</span>
                        </td>
                        <td style="min-width: 12rem">
                            {{ role.firstName }}
                        </td>
                        <td class="text-center" style="min-width: 8rem">
                            <i
                                class="pi pi-fw pi-pencil"
                                (click)="editRoleFunction(role.id)"
                            ></i>
                            <i></i>
                            <i
                                class="pi pi-fw pi-trash"
                                (click)="confirmDelete(role.id)"
                            ></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div>
        <p-confirmDialog
            [style]="{ width: '30%' }"
            [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-text"
        ></p-confirmDialog>
        <p-confirmDialog
            [style]="{ width: '30%' }"
            key="positionDialog"
            [position]="position"
            [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-outlined"
        ></p-confirmDialog>
        <p-toast></p-toast>
    </div>
</div>




