* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #ebe8e8;
  box-shadow: 0 0 2px #ccc;
}

.title {
  font-weight: 700;
  font-size: 1.2rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


