<div class="grid p-fluid">
  <div class="col-12">
      <div class="grid formgrid">
          <div class="col-12 mb-2 lg:col-2 lg:mb-0"></div>
          <div class="card">
              <form #inputForm="ngForm" (ngSubmit)="confirmEditParticipant()">
                  <div class="grid formgrid">
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="beforename">คำนำหน้าชื่อ</label>
                          <span class="p-float-label">
                              <p-dropdown
                                  [options]="beforeName"
                                  optionLabel="name"
                                  optionValue="id"
                                  id="beforename"
                                  name="beforename"
                                  [(ngModel)]="selectedBeforeName"
                              ></p-dropdown>
                          </span>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="firstname">ชื่อ</label>
                          <span class="p-float-label">
                              <input
                                  type="text"
                                  id="firstname"
                                  placeholder="ชื่อ"
                                  pInputText
                                  [(ngModel)]="editParticipant.custName"
                                  [ngModelOptions]="{ standalone: true }"
                              />
                          </span>
                          {{editParticipant.custName}}
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="surname">นามสกุล</label>
                          <span class="p-float-label">
                              <input
                                  type="text"
                                  id="surname"
                                  placeholder="นามสกุล"
                                  pInputText
                                  [(ngModel)]="editParticipant.custSurename"
                                  [ngModelOptions]="{ standalone: true }"
                              />
                          </span>
                      </div>
                  </div>
                  <br />
                  <div class="grid formgrid">
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="nickname">ชื่อเล่น</label>
                          <span class="p-float-label">
                              <input
                                  type="text"
                                  id="nickname"
                                  pInputText
                                  [(ngModel)]="editParticipant.nickName"
                                  [ngModelOptions]="{ standalone: true }"
                              />
                          </span>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="sex">เพศ</label>
                          <span class="p-float-label">
                              <p-dropdown
                                  [options]="genderGroup"
                                  optionLabel="name"
                                  optionValue="id"
                                  id="sex"
                                  name="sex"
                                  [(ngModel)]="editParticipant.sex"
                              ></p-dropdown>
                              {{editParticipant.sex}}
                          </span>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="age">อายุ</label>
                          <span class="p-float-label">
                              <input
                                  type="number"
                                  onKeyPress="if(this.value.length >= 2) return false"
                                  id="age"
                                  pInputText
                                  [(ngModel)]="editParticipant.age"
                                  [ngModelOptions]="{ standalone: true }"
                              />
                          </span>
                      </div>
                  </div>
                  <br />

                  <div class="grid formgrid">
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <div class="field">
                              <label for="calendar">วันเกิด(ปี/เดือน/วัน)</label>
                              <p-calendar
                                  id="calendar"
                                  [(ngModel)]="selectedDate"
                                  [ngModelOptions]="{ standalone: true }"
                                  [showIcon]="true"
                              ></p-calendar>
                          </div>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="idnumber">เลขบัตรประชาชน</label>
                          <span class="p-float-label mt-2">
                              <input
                                  type="number"
                                  id="idnumber"
                                  name="idnumber"
                                  pInputText
                                  [(ngModel)]="inputIdNo"
                                  [ngModelOptions]="{ standalone: true }"
                              />
                          </span>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <div class="field">
                              <label for="aria">ที่อยู่ปัจจุบัน</label>
                              <textarea
                                  id="aria"
                                  rows="3"
                                  cols="30"
                                  [(ngModel)]="editParticipant.address"
                                  [ngModelOptions]="{ standalone: true }"
                                  pInputTextarea
                              ></textarea>

                          </div>
                      </div>
                  </div>
                  <br />

                  <div class="grid formgrid">
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="phoneNumber">เบอร์โทรศัพท์</label>
                          <span class="p-float-label">
                              <input
                                  type="text"
                                  name="phoneNumber"
                                  id="phoneNumber"
                                  pInputText
                                  [(ngModel)]="editParticipant.phone"
                                  [ngModelOptions]="{ standalone: true }"
                              />
                          </span>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="nameParent"
                              >ชื่อ ผู้ปกครอง หรือญาติที่สามารถติดต่อได้
                          </label>
                          <span class="p-float-label">
                              <input
                                  type="text"
                                  id="nameParent"
                                  name="nameParent"
                                  pInputText
                                  [(ngModel)]="editParticipant.parentName"
                                  [ngModelOptions]="{ standalone: true }"
                              />

                          </span>
                      </div>
                      <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                          <label for="phoneParent"
                              >เบอร์โทรศัพท์ผู้ปกครอง
                              หรือญาติที่สามารถติดต่อได้</label
                          >
                          <span class="p-float-label">
                              <input
                                  type="text"
                                  id="phoneParent"
                                  name="phoneParent"
                                  pInputText
                                  [(ngModel)]="editParticipant.parentPhone"
                                  [ngModelOptions]="{ standalone: true }"
                              />

                          </span>
                      </div>
                  </div>
                  <br />
                  <div class="card">
                      <div class="grid">
                          <div class="col-12 md:col-4">
                              <h5>พื้นที่เขตอำเภอที่อาศัย</h5>
                              <div
                                  class="field-radiobutton"
                                  *ngFor="
                                      let area of areas;
                                      let i = index
                                  "
                              >
                                  <p-radioButton
                                      id="area"
                                      name="area"
                                      [value]="area.id"
                                      [(ngModel)]="
                                      editParticipant.districtOfResidence
                                      "
                                      [ngModelOptions]="{ standalone: true }"
                                      [id]="'area' + (i + 1)"
                                      required
                                  ></p-radioButton>
                                  <label [for]="'area' + (i + 1)">{{
                                      area.name
                                  }}</label>

                              </div>
                          </div>
                          <div class="col-12 md:col-4">
                              <h5>ประเภท เด็กนอกระบบ</h5>
                              <div
                                  class="field-radiobutton"
                                  *ngFor="
                                      let participantType of participantTypes;
                                      let i = index
                                  "
                              >
                                  <p-radioButton
                                      name="participantType"
                                      [value]="participantType.id "
                                      [(ngModel)]="
                                      editParticipant.participantType
                                      "
                                      [ngModelOptions]="{ standalone: true }"
                                      [id]="'participantType' + (i + 1)"
                                      required
                                  ></p-radioButton>
                                  <label
                                      [for]="'participantType' + (i + 1)"
                                      >{{ participantType.name }}</label
                                  >

                              </div>
                          </div>
                          <div class="col-12 md:col-4">
                            <h5>อยากจะพัฒนาทักษะอาชีพด้านไหน</h5>
                            <div>
                                <div *ngFor="let skill of skills; let i = index">
                                    <input
                                    type="checkbox"
                                    [value]="skill.id"
                                    binary="true"
                                    [checked] = "selectedSkill(skill)"
                                    [inputId]="'skill' + (i+1)"
                                    (change) = "onSkillCheckboxChange(editParticipant.id, skill.id, $event.target.checked)"
                                    />
                                    <label [for]="'skill' + (i + 1)" class="pl-2">
                                        {{ skill.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <br />
                  <div class="grid formgrid mb-3">
                      <div class="col-12 mb-2 lg:col-12 lg:mb-12">
                          <label for="calendar"
                              >เรื่องที่อยากจะบอกเพื่อเป็นประโยชน์ต่อโครงการ</label
                          >
                          <span class="p-float-label">
                              <textarea
                                  inputId="textarea"
                                  rows="5"
                                  cols="30"
                                  [(ngModel)]="
                                  editParticipant.wouldLikeProject
                                  "
                                  [ngModelOptions]="{ standalone: true }"
                                  pInputTextarea
                              ></textarea>

                          </span>
                      </div>
                  </div>
                  <div class="d-flex justify-content-end">
                      <button
                          pButton
                          pRipple
                          type="button"
                          style="width: 120px"
                          label="Cancel"
                          class="p-button-outlined p-button-danger mr-2 mb-2"
                          routerLink="/backend/participant/"
                      ></button>
                      <button
                          pButton
                          pRipple
                          type="submit"
                          style="width: 120px"
                          label="Save"
                          class="p-button-outlined p-button-success mr-2 mb-2"
                      ></button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>



<!-- Popup dialog -->
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
