<div class="grid p-fluid mt-5 mb-5">
    <div class="col-12 col-lg-8">
        <div class="card">
            <h5>Name & Surname</h5>
            <br />
            <form #form="ngForm" (ngSubmit)="confirmAddStaff()">
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="firstname"
                                name="firstname"
                                pInputText
                                [(ngModel)]="addStaffRequest.firstName"
                                [ngModelOptions]="{ standalone: true }"
                                required
                            />
                            <label for="firstname">First Name</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="surname"
                                pInputText
                                name="surname"
                                [(ngModel)]="addStaffRequest.lastName"
                                [ngModelOptions]="{ standalone: true }"
                                required
                            />
                            <label for="surname">Surname</label>
                        </span>
                    </div>
                </div>
                <h5>Email & Password</h5>
                <br />
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="email"
                                pInputText
                                name="email"
                                [(ngModel)]="addStaffRequest.email"
                                required
                            />
                            <label for="email">Email</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <span class="p-float-label">
                                <p-password
                                    id="password"
                                    [(ngModel)]="addStaffRequest.password"
                                    [toggleMask]="true"
                                    [ngModelOptions]="{ standalone: true }"
                                    required
                                ></p-password>
                                <label for="password">Password <span class="error-message">อย่างน้อย6ตัวอักษร</span></label>
                            </span>
                        </span>
                    </div>
                </div>
                <br />
                <h5>Phone & Role</h5>
                <br />
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="phone"
                                name="phone"
                                pattern="\d+"
                                pInputText
                                [(ngModel)]="inputNumber"
                                [ngModelOptions]="{ standalone: true }"
                                maxlength="10"
                                required
                            />
                            <label for="phone">Phone number</label>
                            <span class="text-error" *ngIf="">กรุณากรอกข้อมูลให้ถูกต้อง</span>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <p-dropdown
                                [options]="roles"
                                optionLabel="firstName"
                                [(ngModel)]="selectedRole"
                                [ngModelOptions]="{ standalone: true }"
                            ></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button
                        pButton
                        pRipple
                        type="button"
                        style="width: 120px"
                        label="Cancel"
                        class="p-button-outlined p-button-danger mr-2 mb-2"
                        (click)="cancel()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        type="submit"
                        style="width: 120px"
                        label="Save"
                        class="p-button-outlined p-button-success mr-2 mb-2"
                    ></button>
                </div>
            </form>
        </div>

    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
