* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans Thai', sans-serif;
}

//Logo CSS
.logo-container {
    background-color: #EBFAF4;
}

.logo-super-container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

.logo, .about-us {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 55%;
}

.about-us {
    width: 45%;
}

.about-us {
    align-content: center;
    margin: auto;
    position: relative;
}

.title-brand {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.logo img {
    width: 70%;
    max-width: 350px;
    margin: auto;
    display: block;
}

.line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #00D285;
    left: -60px;
    bottom: 48px;
}
//End Logo

.container {
    width: 100%;
    padding-top: 2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding: 1em;
    margin: auto;
    max-width: 1080px;
}

.overview {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
}

.items-overview {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    text-align: center;
}


.items-overview p {
    padding: 1em;
}

.items-overview .image {
    display: block;
    margin: auto;
    height: 7vh;
    object-fit:contain;
}


h1 {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5em;
}

// info-container
.info-container {
    display: flex;
    margin-bottom: 4rem;
    margin-inline: auto;
}

.google-map {
    width: 100%;
}

#map {
    height: 40vh;
}


canvas {
    width: 100%;
    max-height: 30vh;
}


.table-container {
    margin-bottom: 4rem;
}

.table-container img{
    width: 100%;
}

table, th, td {
    border: 1px solid lightgray;
}

table {
    width: 100%;
    height: 30vh;
}

th, td {
    padding: 12px;
    text-align: center;
}

td {
    padding: 8px;
    background-color: white;
}

th, .gray {
    background-color: rgb(240, 240, 240);
}

//Page2

.info-container2 {
    margin-bottom: 40px;
    padding: 30px;
}

.info2 {
    display: flex;
    column-gap: 3rem;
}

.table, .pie-chart {
    width: 50%;
}

.full-width, .full-table {
    width: 100%;
}

.full-width {
    margin-bottom: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.background-gray {
    background-color: #EBFAF4;
}

//CSS Mark map
#result {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 80%;
    margin: auto;
    border: 4px solid #dddddd;
    background: #ffffff;
    overflow: auto;
    z-index: 2;
}


// ขนาดหน้าจอต่ำกว่า 840px
@media (max-width: 840px){
    .info-container {
        display: flex;
    }

    .overview {
        background-color: #EBFAF4;
    }

    .google-map, .chart{
        width: 100%;
        margin: auto;
    }

    .google-map {
        margin-bottom: 50px;
    }

    .items-overview {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        margin: 0.5em auto;
    }

    .overview {
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        margin-bottom:  2em;
        margin-left: auto;
        margin-right: auto;
    }

    .line {
        display: none;
    }

    .chart {
        width: 100%;
    }

    app-my-chart {
        width: 100%;
    }


    table {
        width: 100%;
        max-width: 540px;
        margin: auto;
    }

    th,td {
        padding: 4px;
        font-size: 12px;
    }

    .title-brand {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    // page2

    .info-container2 {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 540px;
        padding: 30px 10px;

    }

    .info2 {
        display: flex;
        flex-direction: column;
    }

    .pie-chart, .table {
        width: 100%;
        margin: auto;
    }

    canvas {
        width: 100%;
    }

    .pie-chart {
        margin-bottom: 40px;
    }
}

