<div class="logo-container">
    <div class="logo-super-container">
        <div class="logo">
            <img src="/assets/images/about/about-logo.png" alt="" />
        </div>
        <div class="about-us">
            <div class="line"></div>
            <h3 class="title-brand">ภาพรวมโครงการ</h3>
            <h3 class="title-brand">(PROJECT OVERVIEW)</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="overview">
        <div class="items-overview">
            <img
                src="/assets/images/overview/Google-Maps-PNG-Image-File.png"
                alt="Google map img"
                class="image google-map-img"
            />
            <p>แผนที่แสดงภาพรวมพื้นที่ของเยาวชนผู้เข้าร่วมโครงการ</p>
        </div>
        <div class="items-overview">
            <img
                src="/assets/images/overview/overview-img2.png"
                alt="Google map img"
                class="image"
            />
            <p>ภาพรวมข้อมูลทั่วไปของเยาวชนผู้เข้าร่วมโครงการ</p>
        </div>
        <div class="items-overview">
            <img
                src="/assets/images/overview/overview-img3.png"
                alt="Google map img"
                class="image"
            />
            <p>ภาพรวมทักษะและการศึกษาของเยาวชนผู้เข้าร่วมโครงการ</p>
        </div>
    </div>
    <h1>อำเภอที่อยู่ของผู้เข้าร่วมโครงการทั้งหมด</h1>
    <div class="info-container">
        <div class="google-map">
            <div id="map"></div>
        </div>
    </div>

    <div class="info-container2">
        <h1>ข้อมูลของผู้เข้าร่วมโครงการ</h1>
        <div class="info2">
            <div class="pie-chart">
                <canvas id="genderChart"></canvas>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>เพศ</th>
                            <th>จำนวน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let gender of genderModels; let row = index"
                        >
                            <td class="gray">{{ row + 1 }}</td>
                            <td>{{ gender.name }}</td>
                            <td>{{ gender.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Page3 PieChart-->
    <div class="info-container2 background-gray">
        <h1>ประเภทของผู้เข้าร่วมโครงการ</h1>
        <div class="flex-column">
            <div class="full-width">
                <canvas id="participantType"></canvas>
            </div>
            <div class="full-table">
                <table>
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>ประเภทของผู้เข้าร่วมโครงการ</th>
                            <th>จำนวน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let participantTypeModel of participantTypeModels;
                                let row = index
                            "
                        >
                            <td class="gray">{{ row + 1 }}</td>
                            <td>{{ participantTypeModel.name }}</td>
                            <td>{{ participantTypeModel.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Page2 BarChard -->
    <div class="info-container2">
        <h1>ข้อมูลที่อยู่อาศัยของผู้เข้าร่วมโครงการ</h1>
        <div class="info2">
            <div class="pie-chart">
                <canvas id="areaResidence"></canvas>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>อำเภอ</th>
                            <th>จำนวนผู้อยู่อาศัย</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let areasModel of areasModels;
                                let row = index
                            "
                        >
                            <td class="gray">{{ row + 1 }}</td>
                            <td>{{ areasModel.name }}</td>
                            <td>{{ areasModel.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="info-container2 background-gray">
        <h1>ข้อมูลของผู้เข้าร่วมโครงการ</h1>
        <div class="flex-column
        ">
            <div class="full-width">
                <canvas id="skiilsParticipantChart"></canvas>
            </div>
            <div class="full-table">
                <table>
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>ทักษะอาชีพที่ต้องการ</th>
                            <th>จำนวน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of skillModels; let row = index">
                            <td class="gray">{{ row + 1 }}</td>
                            <td>{{ skill.name }}</td>
                            <td>{{ skill.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
