<div class="layout-wrapper" [ngClass]="{'layout-menu-horizontal': app.menuMode === 'horizontal',
                                        'layout-menu-overlay': app.menuMode === 'overlay',
                                        'layout-menu-static': app.menuMode === 'static',
                                        'layout-menu-slim': app.menuMode === 'slim',
                                        'layout-menu-light': app.lightMenu === true,
                                        'layout-menu-overlay-active': overlayMenuActive,
                                        'layout-menu-mobile-active': staticMenuMobileActive,
                                        'layout-menu-static-inactive': staticMenuDesktopInactive,
                                        'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple}" (click)="onLayoutClick()">

    <app-topbar></app-topbar>
    <app-menu></app-menu>

    <div class="layout-main">
        <app-breadcrumb></app-breadcrumb>

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>

    <app-config></app-config>
</div>
