<div class="layout-topbar">
    <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-angle-left arrow"></i>
        <i class="pi pi-angle-up mobile"></i>
    </a>

    <a class="logo-container">
        <img
            src="assets/images/logo.png"
            alt="elsthai-together layout"
            style="
                width: 65px;
                object-fit: contain;
                margin-top: 0.5rem;
                margin-left: 1rem;
            "
        />
    </a>

    <a
        id="topbar-profile-menu-button"
        href="#"
        (click)="app.onTopbarMenuButtonClick($event)"
    >
        <span>{{ data.firstName }} {{ data.lastName }}</span>
        <img src="../assets/images/profile-img.jpg" class="topbar-profile" />
        <i class="pi pi-caret-down"></i>
    </a>
    <ul
        id="topbar-usermenu"
        class="fadeInDown animated"
        [ngClass]="{ 'usermenu-active': app.topbarMenuActive }"
    >
        <li>
            <a href="#" (click)="logout()">
                <i class="pi pi-fw pi-user"></i>
                <span class="topbar-item-name">logout</span>
            </a>
        </li>
    </ul>
</div>
