.input-text{
    height:41px;
    border-radius: 2rem;
    font-size: 14px;
  }
  
  :host ::ng-deep{
    .p-dropdown {
      background: #ffffff;
      border: 1px solid #ced4da;
      transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
      border-radius: 2rem;
      font-size: 16px;
      height: 41px;
    }
    .p-fluid .p-dropdown .p-dropdown-label {
      width: 1%;
      font-size: 14px;
    }
    .p-view.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
      background-color: #B32B2B;
      color: white;
      font-weight: bold;
      height: 3rem;
      font-size: 16px;
      padding: 0.8rem;
    }
    #b-a.p-button-success:enabled:hover , .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover{
      background: red;
      border-color:red;
    }
    #search-data.p-button-success:enabled:hover , .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover{
      background: #FFA700;
      border-color: #FFA700;
    }
    #reset-data.p-button-success:enabled:hover , .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover{
      background: #DEDEDE;
      border-color: #DEDEDE;
      color: #7E7E7E;
    }
    #b-r.p-button-success:enabled:hover , .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover{
      background: #fbc3ccb4;
      border-color:red;
    }
    #b-s.p-button-success:enabled:hover , .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover{
      background: #fbc3ccb4;
      border-color:red;
    }
    .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
      border-width: 1px;
      font-size: 16px;
      height: 4rem;
    }
    .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
      color: #ffffff;
    }
    .p-datatable .p-sortable-column .p-sortable-column-icon {
      color: #ffffff;
      margin-left: 0.5rem;
    }
    .p-dialog {
      display: flex;
      flex-direction: column;
      max-height: 90%;
      position: relative;
      transform: scale(1);
      border-radius: 1rem;
    }
  
    #add-scg-people .p-dialog .p-dialog-header {
      border-bottom: 1px solid #e9ecef;
      background: #FF002A;
      color: white;
      padding: 1rem;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      width: 75rem;
    }
  
    #add-scg-people .p-dialog .p-dialog-footer {
      border-top: 1px solid #e9ecef;
      background: #ffffff;
      color: #212529;
      padding: 1rem;
      text-align: right;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      width: 75rem;
    }
  
    #add-scg-people .p-dialog .p-dialog-content {
      background: #ffffff;
      color: #212529;
      padding: 1rem;
      height: 35rem;
      width: 75rem;
    }
  
    .p-divider-solid.p-divider-horizontal:before {
      border-top-style: solid;
      border-width: 0.2em;
    }
    .p-datatable .p-paginator-bottom {
      border-radius: 0rem 0rem 1rem 1rem;
    }
  
    //checkBok
    .p-checkbox .p-checkbox-box.p-highlight {
      border-color: #FFA700;
      background-color: #FFA700;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
      border-color: #FFA700;
      background-color: #FFA700;
      color: #ffffff;
    }
    .p-fluid .p-calendar {
      display: flex;
      height: 41px;
    }
    .p-fluid .p-calendar .p-inputtext {
      width: 1%;
      font-size: 16px;
    }
  
    .p-dialog-content {
      flex-grow: 1;
    }
  }
  
  .txt-color{
    color: 	gray;
  }
  .txt-size{
    font-size: 16px;
  }
  #btn-cancel{
    height: 41px;
    background: #9E9E9E;
    border-radius: 2rem;
    font-size: 16px;
    border-color: #9E9E9E;
    color: #ffffff;
    width: 140px;
  }
  #btn-save{
    height: 41px;
    background: red;
    border-radius: 2rem;
    font-size: 16px;
    border-color: red;
    color: #ffffff;
    width: 140px;
  }
  .btn-search{
    height: 41px;
    background: #FFBC3C;
    border: none;
    border-radius: 2rem;
    width: 10rem;
    font-size: 16px;
  }
  .btn-reset{
    height: 41px;
    background: white;
    border-radius: 2rem;
    width: 6rem;
    font-size: 16px;
    color: #7E7E7E;
    border-color: #DEDEDE;
    margin-left: 10px;
  }
  #b-r{
    height: 41px;
    background: white;
    border-radius: 2rem;
    font-size: 16px;
    border-color: red;
    color: red;
  }
  #b-s{
    height: 41px;
    background: white;
    border-radius: 0.5rem;
    font-size: 16px;
    border-color: red;
    color: red;
  }
  .pointer{
    cursor: pointer;
  }
  .detail{
    color: #38A3FF;
    border-bottom: 1px solid #38A3FF;
  }
  #b-a{
    height: 41px;
    background: red;
    border-radius: 2rem;
    font-size: 16px;
    border-color: red;
    color: white;
  }
  // .drop-item{
  //   font-family: -apple-system,Promptreg,Promptbol,Promptitalic,Promptlig, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  // }