<div class="grid p-fluid mt-5 mb-5">
    <div class="col-12">
        <div class="card">
            <h5>Name && Surname</h5>
            <br />
            <form #form="ngForm" (ngSubmit)="confirmUpdateStaff()">
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="firstname"
                                name="firstname"
                                pInputText
                                [(ngModel)]="admin.firstName"
                                [ngModelOptions]="{ standalone: true }"
                                required
                            />
                            <label for="firstname">First Name</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="surname"
                                pInputText
                                name="surname"
                                [(ngModel)]="admin.lastName"
                                [ngModelOptions]="{ standalone: true }"
                                required
                            />
                            <label for="surname">Surname</label>
                        </span>
                    </div>
                </div>
                <h5>Email && Phone number</h5>
                <br />
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="email"
                                id="email"
                                pInputText
                                name="email"
                                [(ngModel)]="admin.email"
                                required
                            />
                            <label>Email</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <input
                                type="text"
                                id="phone"
                                name="phone"
                                pInputText
                                [(ngModel)]="admin.phone"
                                [ngModelOptions]="{ standalone: true }"
                                maxlength="10"
                                required
                            />
                            <label for="phone">Phone number</label>
                        </span>
                    </div>
                </div>
                <br />
                <h5>Role</h5>
                <br />
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-4">
                        <span class="p-float-label">
                            <p-dropdown
                                [options]="roles"
                                optionLabel="firstName"
                                [(ngModel)]="selectedRole"
                                [ngModelOptions]="{ standalone: true }"
                            ></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button
                        pButton
                        pRipple
                        type="button"
                        style="width: 120px"
                        label="Cancel"
                        class="p-button-outlined p-button-danger mr-2 mb-2"
                        (click)="cancel()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        type="submit"
                        style="width: 120px"
                        label="Save"
                        class="p-button-outlined p-button-success mr-2 mb-2"
                    ></button>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
