* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans Thai', sans-serif;
}

.logo-container {
    background-color: #EBFAF4;
}

.logo-super-container {
    max-width: 1080px;
    display: flex;
    margin: auto;
}

.logo, .about-us {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 55%;
}

.logo img{
    width: 70%;
    max-width: 350px;
    margin: auto;
    display: block;
}
.about-us {
    width: 45%;
    align-content: center;
    margin: auto;
    position: relative;
}

.title-brand {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin: auto;
}



//End logo CSS



.container {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    padding: 10px;
}


.contact {
    display: flex;
    padding: 0 10px;
}


.info-contact {
    width: 40%;
    margin: auto;

}

.green-text {
    color: #449F51;
}

.header {
    display: flex;
}

.left-header {
    width: 70%;
}

.left-header h3 {
    font-size: 28px;
    line-height: 40px;
}

.left-header p {
    font-size: 18px;
}

.right-header {
    width: 30%;
}

.right-header img {
    width: 100%;
    height: 80px;
}

.items-contact {
    display: flex;
    margin: 30px auto;
}

.items-contact img {
    width: 40px;
    height: 40px;
}

.items-contact p {
    padding: 10px 16px;
}
//page1

.page1, .page2, .page3, .page4 {
    display: flex;
    flex-direction: column;
}

.page1 {
    margin-top: 30px;
}

.img-about {
    height: 500px;
    width: 100%;
}

.img-page1, .img-page2, .img-page3, .img-page4 {
    margin-top: 16px;
}

.content-page1, .content-page2, .content-page3, .content-page4 {
    background-color: #EBFAF4;
    padding: 20px;
    margin-top: 16px;
    border-radius: 24px;
}

.title {
    color: #449F51;
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.content {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page4 {
    margin-bottom: 40px;
}




// Display screen greater than 760px
@media (min-width: 760px){

    //Start

    .logo-container {
        background-color: #EBFAF4;
    }

    .logo-super-container {
        display: flex;
        margin: auto;
    }

    .logo, .about-us {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .logo {
        width: 55%;
    }

    .about-us {
        width: 45%;
        align-content: center;
        margin: auto;
        position: relative;
    }

    .title-brand {
        font-size: 2rem;
        font-weight: 600;
        line-height: 3rem;
    }

    .logo img {
        display: block;
        width: 70%;
        max-width: 350px;
        margin: auto;
    }

    .line {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #00D285;
        left: -60px;
        bottom: 48px;
    }

    //End


    // Page1
    .page1, .page2, .page3, .page4 {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .page1, .page3 {
        background-color: #EBFAF4;
        border-radius: 20px;
    }



    .img-page1 {
        width: 45%;
    }

    .container img {
        width: 95%;
        height: 450px;
        margin: 60px 12px;
        border-radius: 20px;
    }

    .content-page1 {
        margin-top: 60px;
        padding: 30px;
    }

    .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
    }

    .content {
        margin-top: 26px;
        font-size: 20px;
        line-height: 30px;
    }

    .img-page2, .img-page3, .img-page4 {
        width: 45%;
    }

    .content-page1, .content-page2, .content-page3, .content-page4 {
        background-color: transparent;
        width: 55%;
    }


    //page2

    .page2 .title {
        margin-top: 20px;
    }

    .right {
        text-align: right;
    }

    .text-page2 {
        line-height: 40px;
    }

    .img-page2, .img-page4 {
        margin-top: 0;
    }

    .img-page2 img, .img-page4 img{
        width: 300px;
        margin:  20px 40px;
    }

    .page2, .page4 {
        display: flex;
        flex-direction: row-reverse;
    }

    .text-page3, .text-page4 {
        font-family: 'Poppins', sans-serif;
    }

}
