<div class="logo-container">
    <div class="logo-super-container">
        <div class="logo">
            <img src="/assets/images/about/about-logo.png" alt="">
        </div>
        <div class="about-us">
            <div class="line"></div>
            <h3 class="title-brand">เกี่ยวกับเรา</h3>
            <h3 class="title-brand">(ABOUT US)</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="page1">
        <div class="img-page1">
            <img src="/assets/images/about/about-1.png" alt="Images" class="img-about">
        </div>
        <div class="content-page1">
            <h3 class="title">มูลนิธิการศึกษาเพื่อชีวิตและสังคม</h3>
            <p class="content">ทำงานร่วมกับชุมชนมาตั้งแต่เริ่มแรกของการก่อเกิด ภายใต้ความเชื่อมั่น ในพลังของชุมชน และจิตใจอาสาสมัครของคนทำงาน 
                เยี่ยงมิสเตอร์แฮรี่ ดูแรนซ์ อาสาสมัครชาวแคนนาดา ซึ่งเป็นจุดเริ่มของมูลนิธิฯ
                หากความมุ่งมั่นในการสร้างสรรค์สิ่งที่ดี ต่อสังคม ยังไม่เสื่อมคลาย และด้วยวัยวุฒิ คุณวุฒิ ที่เพิ่มขึ้น ได้บ่มเพาะวุฒิภาวะที่เต็มเปี่ยมไปด้วยสายตาอันยาวไกล </p>
        </div>
    </div>
    <div class="page2">
        <div class="img-page2">
            <img src="/assets/images/about/about-2.png" alt="Images" class="img-about">
        </div>
        <div class="content-page2">
            <h3 class="title right">มูลนิธิการศึกษาเพื่อชีวิตและสังคม</h3>
            <p class="content text-page2">
                1.ส่งเสริมกิจกรรมพัฒนาด้านการเรียนรู้แก่นักเรียน เยาวชน และครูในชนบท 
                เพื่อส่งเสริมศักยภาพการมีส่วนร่วมในการพัฒนาชุมชน <br>
                2.ส่งเสริมการพัฒนาชนบทด้านการอนุรักษ์สิ่งแวดล้อม การเกษตร บทบาทสตรี 
                เด็ก และเยาวชน โดยชุมชนมีส่วนร่วมในการพัฒนา <br>
                3.ส่งเสริมความร่วมมือและประสานงานบุคคล กลุ่มและองค์กรต่าง ๆ 
                 ที่มีจุดมุ่งหมายเกี่ยวกับการศึกษาและพัฒนาชุมชน </p>
        </div>
        
    </div>
    <div class="page3">
        <div class="img-page3">
            <img src="/assets/images/about/about-3.png" alt="Images" class="img-about">
        </div>
        <div class="content-page3">
            <h3 class="title">พัฒนาทักษะต่อยอดเพื่อสร้างอาชีพ</h3>
            <p class="content text-page3">We’ll give you the opportunity to evaluate our work via a pilot project and see if we
                are the right partner for your business. A pilot project could be the coding of 1
                homepage, a specific feature, or just the progress we’ve made for 8 working
                hours. This way you’ll get an idea about the quality of our work, the
                communication process, and everything else that is essential to you. </p>
        </div>
    </div>
    <div class="page4">
        <div class="img-page4">
            <img src="/assets/images/about/about-4.png" alt="Images" class="img-about">
        </div>
        <div class="content-page4">
            <h3 class="title">ความร่วมมือ</h3>
            <p class="content text-page4">Trust and smooth workflow are of paramount importance to us and to you, we believe
                Once we start collaborating, both our teams will spend some time jelling and
               adjusting in order to develop a strong and healthy B2B relationship.</p>
        </div>
    </div>
</div>