<div class="login-body">
    <div class="login-topbar">
        <a href="#" class="logo">
            <img src="/assets/images/logo.png" alt="Logo Website" />
        </a>
    </div>
    <div class="login-image">
        <div class="login-panel">
            <form #form="ngForm">
                <img
                    src="/assets/images/logo1.png"
                    alt="elsthai together-layout"
                />
                <div class="p-col-12">
                    <div class="input-wrapper">
                        <input
                            name="username"
                            [(ngModel)]="inputSignIn.empId"
                            type="email"
                            placeholder="Username"
                            pInputText
                            id="username"
                        />
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="input-wrapper">
                        <input
                            name="password"
                            [(ngModel)]="inputSignIn.password"
                            type="password"
                            placeholder="Password"
                            pInputText
                            id="password"
                        />
                    </div>
                </div>
                <div class="checkbox-container">
                    <button
                        type="submit"
                        label="Login"
                        (click)="login()"
                        pButton
                    ></button>
                </div>

                <div class="separator"></div>
<!--
                <a href="#" class="subinfo">
                    <span>Forgot your password?</span>
                </a> -->
            </form>
        </div>
    </div>
</div>

<p-toast></p-toast>
