<div class="grid p-fluid">
    <div class="col-12">
        <div class="grid formgrid">
            <div class="col-12 mb-2 lg:col-2 lg:mb-0"></div>
            <div class="card">
                <form #inputForm="ngForm">
                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="beforename">คำนำหน้าชื่อ</label>
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="beforeName"
                                    optionLabel="name"
                                    optionValue="id"
                                    id="beforename"
                                    readonly="true"
                                    [(ngModel)]="participant.titleName"
                                    [ngModelOptions]="{ standalone: true }"
                                ></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="firstname">ชื่อ</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="firstname"
                                    placeholder="ชื่อ"
                                    pInputText
                                    readonly="true"
                                    [(ngModel)]="participant.custName"
                                    [ngModelOptions]="{ standalone: true }"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="surname">นามสกุล</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="surname"
                                    placeholder="นามสกุล"
                                    pInputText
                                    [(ngModel)]="participant.custSurename"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="nickname">ชื่อเล่น</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="nickname"
                                    pInputText
                                    [(ngModel)]="participant.nickName"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="sex">เพศ</label>
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="genderGroup"
                                    optionLabel="name"
                                    id="sex"
                                    name="sex"
                                    optionValue="id"
                                    [(ngModel)]="participant.sex"
                                    readonly="true"
                                ></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="age">อายุ</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="age"
                                    pInputText
                                    [(ngModel)]="participant.age"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                    </div>
                    <br />

                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <div class="field">
                                <label for="calendar">วัด/เดือน/ปี เกิด</label>
                                <p-calendar
                                    id="calendar"
                                    [(ngModel)]="selectedDate"
                                    [ngModelOptions]="{ standalone: true }"
                                    [showIcon]="true"
                                    readonly="true"
                                ></p-calendar>
                            </div>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="idnumber">เลขบัตรประชาชน</label>
                            <span class="p-float-label mt-2">
                                <input
                                    type="text"
                                    id="idnumber"
                                    name="idnumber"
                                    pInputText
                                    [(ngModel)]="participant.idno"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <div class="field">
                                <label for="aria">ที่อยู่ปัจจุบัน</label>
                                <textarea
                                    id="aria"
                                    rows="3"
                                    cols="30"
                                    [(ngModel)]="participant.address"
                                    [ngModelOptions]="{ standalone: true }"
                                    pInputTextarea
                                    readonly="true"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="phoneNumber">เบอร์โทรศัพท์</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    name="phoneNumber"
                                    id="phoneNumber"
                                    pInputText
                                    [(ngModel)]="participant.phone"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="nameParent"
                                >ชื่อ ผู้ปกครอง หรือญาติที่สามารถติดต่อได้
                            </label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="nameParent"
                                    name="nameParent"
                                    pInputText
                                    [(ngModel)]="participant.parentName"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="phoneParent"
                                >เบอร์โทรศัพท์ผู้ปกครอง
                                หรือญาติที่สามารถติดต่อได้</label
                            >
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="phoneParent"
                                    name="phoneParent"
                                    pInputText
                                    [(ngModel)]="participant.parentPhone"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly="true"
                                />
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="grid">
                            <div class="col-12 md:col-4">
                                <h5>พื้นที่เขตอำเภอที่อาศัย</h5>
                                <div
                                    class="field-radiobutton"
                                    *ngFor="
                                        let area of areaGroup;
                                        let i = index
                                    "
                                >
                                    <p-radioButton
                                        id="area"
                                        name="area"
                                        [value]="area.id"
                                        [(ngModel)]="
                                            participant.districtOfResidence
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                        [id]="'area' + (i + 1)"
                                        disabled="true"
                                    ></p-radioButton>
                                    <label [for]="'area' + (i + 1)">{{
                                        area.name
                                    }}</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <h5>ประเภท เด็กนอกระบบ</h5>
                                <div
                                    class="field-radiobutton"
                                    *ngFor="
                                        let participantType of participantType;
                                        let i = index
                                    "
                                >
                                    <p-radioButton
                                        name="participantType"
                                        [value]="participantType.id"
                                        [(ngModel)]="
                                            participant.participantType
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                        [id]="'participantType' + (i + 1)"
                                        disabled="true"
                                    ></p-radioButton>
                                    <label
                                        [for]="'participantType' + (i + 1)"
                                        >{{ participantType.name }}</label
                                    >
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <h5>อยากจะพัฒนาทักษะอาชีพด้านไหน</h5>
                                <div
                                    class="field-radiobutton"
                                    *ngFor="let skill of skills; let i = index"
                                >
                                    <p-radioButton
                                        name="skill"
                                        [value]="skill.id"
                                        [(ngModel)]="
                                            selectedSkill.IdSkill
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                        [id]="'skill' + (i + 1)"
                                        disabled="true"
                                    ></p-radioButton>
                                    <label [for]="'skill' + (i + 1)">{{
                                        skill.name
                                    }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="grid formgrid mb-3">
                        <div class="col-12 mb-2 lg:col-12 lg:mb-12">
                            <label for="calendar"
                                >เรื่องที่อยากจะบอกเพื่อเป็นประโยชน์ต่อโครงการ</label
                            >
                            <span class="p-float-label">
                                <textarea
                                    inputId="textarea"
                                    rows="5"
                                    cols="30"
                                    [(ngModel)]="participant.wouldLikeProject"
                                    [ngModelOptions]="{ standalone: true }"
                                    pInputTextarea
                                    readonly="true"
                                ></textarea>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0"></div>
                    <div class="grid formgrid">
                        <button
                            pButton
                            pRipple
                            type="button"
                            style="width: 120px"
                            label="ย้อนกลับ"
                            class="p-button-outlined p-button-danger mr-2 mb-2"
                            routerLink="/backend/participant/"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Popup dialog -->
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
