<form #successDialogForm="ngForm">
    <p-dialog  [(visible)]="successDialog" [style]="{width: '350px'}" [modal]="true">
      <ng-template pTemplate="content">
        <div class="container">
          <div class="box">
            <img alt="logo" src="assets/layout/images/success.png" />
            <p class="p-text-bold p-mt-4">{{title}}</p>
            <p class="text-xl p-text-bold p-mt-4" style="color: black;">{{description}}</p>
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </form>
  