:host ::ng-deep .p-dialog {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90%;
    transform: scale(1);
    position: relative;
    border-radius: 3rem;
  }
  
  :host ::ng-deep  .p-dialog .p-dialog-footer {
    border-top: 1px solid #e9ecef;
    background: #ffffff;
    color: #212529;
    padding: 1rem;
    text-align: center;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0px solid #e9ecef;
    background: #fff;
    color: #fff;
    padding: 1rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }
  
  :host ::ng-deep  .p-dialog .p-dialog-header-icon {
    align-items: center;
    display: none;
    overflow: hidden;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-content {
    background: url(../../../../assets/layout/images/successbg.png) no-repeat center center fixed;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      -webkit-background-size: cover;
    padding: 30px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  
  .container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    justify-content: center;
  }
  .box{
    width:100%;
    max-width:100%;
    border:0px solid red;
    margin:5px;
  }
  // .drop-item{
  //   font-family: -apple-system, BlinkMacSystemFont,
  //   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // }
  .pub{
    color: green;
  }
  .draft{
    color: red;
  }
  