<div class="grid p-fluid">
    <div class="col-12">
        <div class="grid formgrid">
            <div class="col-12 mb-2 lg:col-2 lg:mb-0"></div>
            <div class="card">
                <form [formGroup]="formGroup" (ngSubmit)="confirmAddParticipantFunction()">
                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="beforename">คำนำหน้าชื่อ</label>
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="beforeName"
                                    optionLabel="name"
                                    optionValue="id"
                                    id="beforename"
                                    formControlName="beforeName"
                                ></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="firstname">ชื่อ</label>
                            <span class="p-float-label">
                                <input
                                    id="firstname"
                                    type="text"
                                    placeholder="ชื่อ"
                                    pInputText
                                    formControlName="firstName"
                                />
                            </span>
                            {{addParticipant.custName}}
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="surname">นามสกุล</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="surname"
                                    placeholder="นามสกุล"
                                    pInputText
                                    formControlName="surname"
                                />
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="nickname">ชื่อเล่น</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="nickname"
                                    pInputText
                                    formControlName="nickname"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="sex">เพศ</label>
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="genderGroup"
                                    optionLabel="name"
                                    id="sex"
                                    optionValue="id"
                                    formControlName="gender"
                                ></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="age">อายุ</label>
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    onKeyPress="if(this.value.length >= 2) return false"
                                    id="age"
                                    min="0"
                                    pInputText
                                    formControlName="age"
                                    required
                                />
                            </span>
                        </div>
                    </div>
                    <br />

                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <div class="field">
                                <label for="calendar">วันเกิด(ปี/เดือน/วัน)</label>
                                <p-calendar
                                    id="calendar"
                                    formControlName="birthday"
                                    [showIcon]="true"
                                ></p-calendar>
                            </div>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="idnumber">เลขบัตรประชาชน</label>
                            <span class="p-float-label mt-2">
                                <input
                                    type="number"
                                    id="idnumber"
                                    pattern="\d+"
                                    min="0"
                                    onKeyPress="if(this.value.length>=13)return false"
                                    pInputText
                                    formControlName="idNumber"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <div class="field">
                                <label for="area">ที่อยู่ปัจจุบัน</label>
                                <textarea
                                    id="area"
                                    rows="3"
                                    cols="30"
                                    pInputTextarea
                                    formControlName="area"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="grid formgrid">
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="phoneNumber">เบอร์โทรศัพท์</label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="phoneNumber"
                                    pattern="\d+"
                                    maxlength="10"
                                    pInputText
                                    formControlName="phoneNumber"
                                />
                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="nameParent"
                                >ชื่อ ผู้ปกครอง หรือญาติที่สามารถติดต่อได้
                            </label>
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="nameParent"
                                    pInputText
                                    formControlName="parentName"
                                />

                            </span>
                        </div>
                        <div class="col-12 mb-2 lg:col-4 lg:mb-4">
                            <label for="phoneParent"
                                >เบอร์โทรศัพท์ผู้ปกครอง
                                หรือญาติที่สามารถติดต่อได้</label
                            >
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    pattern="\d+"
                                    maxlength="10"
                                    id="phoneParent"
                                    pInputText
                                    formControlName="parentPhone"
                                />

                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="grid">
                            <div class="col-12 md:col-4">
                                <h5>พื้นที่เขตอำเภอที่อาศัย</h5>
                                <div
                                    class="field-radiobutton"
                                    *ngFor="
                                        let area of ariaResidenceGroup;
                                        let i = index
                                    "
                                >
                                    <p-radioButton
                                        [value]="area.id"
                                        formControlName="areaResidence"
                                        [id]="'area' + (i + 1)"
                                    ></p-radioButton>
                                    <label [for]="'area' + (i + 1)">{{
                                        area.name
                                    }}</label>

                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <h5>ประเภท เด็กนอกระบบ</h5>
                                <div
                                    class="field-radiobutton"
                                    *ngFor="
                                        let participantType of participantTypes;
                                        let i = index
                                    "
                                >
                                    <p-radioButton
                                        [value]="participantType.id "
                                        formControlName="participantType"
                                        [id]="'participantType' + (i + 1)"
                                    ></p-radioButton>
                                    <label
                                        [for]="'participantType' + (i + 1)"
                                        >{{ participantType.name }}</label
                                    >

                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <h5>อยากจะพัฒนาทักษะอาชีพด้านไหน</h5>
                                <div formArrayName="ParticipantSkillModels">
                                    <div *ngFor="let skill of skills; let i = index">
                                        <input
                                        type="checkbox"
                                        [value]="skill.id"
                                        binary="true"
                                        (change)="onSkillCheckboxChange(skill.id, $event.target.checked)"
                                        [inputId]="'skill' + (i + 1)"
                                        />
                                        <label [for]="'skill' + (i + 1)" class="pl-2">
                                            {{ skill.name }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="grid formgrid mb-3">
                        <div class="col-12 mb-2 lg:col-12 lg:mb-12">
                            <label for="recommentToUs"
                                >เรื่องที่อยากจะบอกเพื่อเป็นประโยชน์ต่อโครงการ</label
                            >
                            <span class="p-float-label">
                                <textarea
                                    inputId="textarea"
                                    rows="5"
                                    cols="30"
                                    formControlName="recommentToUs"
                                    pInputTextarea
                                ></textarea>

                            </span>
                        </div>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0"></div>
                    <div class="d-flex justify-content-end">
                        <button
                            pButton
                            pRipple
                            type="button"
                            style="width: 120px"
                            label="Cancel"
                            class="p-button-outlined p-button-danger mr-2 mb-2"
                            routerLink="/backend/participant"
                        ></button>
                        <button
                            pButton
                            pRipple
                            type="submit"
                            style="width: 120px"
                            label="Save"
                            class="p-button-outlined p-button-success mr-2 mb-2"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>



  <!-- Popup dialog -->
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
