@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.wrapper {
  width: 80%;
  height: 300px;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  box-shadow: 2px 0 4px #e2e0e0;
  display: flex;
  flex-wrap: wrap;

  margin: 5rem auto;
  padding: 2.5rem 2.5rem 0 2.5rem;

}

.form-wrap label{
  display: block;
  color: #696969;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Mitr', sans-serif;
}

.form-wrap input {
  margin-block: 1rem;
  padding: .2rem .5rem;
  font-size: 1.2rem;
  border: 1px solid #cfcccc;
  outline-style: unset;
}

.form-wrap input:focus {
  box-shadow: 0 0 2px 2px #91ff8dd8;
  border: none;
}

.cancel-btn, .submit-btn {
  margin-top: .5rem;
  padding: .5rem 1.5rem;

  border: 1px solid #cfcccc;
  border-radius: 12px;
  background-color: transparent;
  transition: 500ms;
}

.cancel-btn {
  margin-right: 1rem;
}

.submit-btn:hover {
  box-shadow: 0px 0px 8px 2px #17B169;
  background-color: #e6fded;
  border-color: #07e67e;
}

.cancel-btn:hover {
  box-shadow: 0px 0px 6px rgb(236, 47, 47);
  border-color: rgb(211, 67, 67);
  background-color: rgb(250, 196, 196);
}


@media (max-width: 400px) {
  .wrapper {
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 90%;
    padding: 1rem;
  }

  .submit-btn {
    left: 40%;
  }
  .cancel-btn {
    left: 50%
  }
}
