<div class="wrapper">
  <form #form="ngForm" (ngSubmit)="confirmCreateRole()">
      <div class="form-wrap">
          <label for="name">ชื่อ ตำแหน่ง</label>
          <input type="text" [(ngModel)]="addRole.firstName" [ngModelOptions]="{standalone: true}" placeholder="ตำแหน่งมากกว่า2ตัวอักษร"/>
      </div>
      <div>
          <button type="button" class="cancel-btn" (click)="cancelFunction()">
              Cancel
          </button>
          <button type="submit" class="submit-btn" id="btn-save">
              Submit
          </button>
      </div>
  </form>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
