<nav class="navbar navbar-expand-lg navbar-light fixed-top color-navbar">
    <div class="container">
      <a class="logo" routerLink=""><img src="/assets/images/logo.png" alt="Logo Website"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >หน้าหลัก</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">เกี่ยวกับเรา</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/overview" routerLinkActive="active">ภาพรวมโครงการ</a>
          </li>
          <li class="nav-item mg-auto">
              <a class="nav-link" routerLink="/timeline" routerLinkActive="active">แผนระยะเวลาโครงการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">ติดต่อเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">เข้าสู่ระบบ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
