* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.color-navbar {
    background-color: #449F51;
}

.container{
    max-width: 1080px;
    margin: auto;
}

.logo {
    padding: 6px;
}

.logo img{
    max-width: 100px;
    object-fit: contain;
}

.nav-item {
    margin: 0 1em;
}


ul {
    justify-content: space-between;
}

a {
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Noto Sans Thai', sans-serif;
}

.navbar-toggler {
    margin-right: 20px;
}

$breakpoint-phone: 460px;
@media (min-width: 200px) and (max-width: $breakpoint-phone) {
    .container {
        margin: auto;
    }

    .logo > img {
        display: block;
        margin: auto;
    }
    .logo {
        max-width: 250px;
    }

}

@media (max-width: 991px) {
    ul li a {
        padding: 10px;
    }
}
