<div class="grid">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-plus"
                label="Add"
                class="p-button-success mr-2 mb-2"
                routerLink="/backend/participant/manage"
            ></button>
        </div>
        <div class="card">
            <div class="grid">
                <div class="col-12 md:col-10 lg:col-10">
                    <h5>จัดการ Participant</h5>
                </div>
            </div>
            <p-table
                #tableref
                [value]="participantsModel"
                dataKey="id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="['custName', 'custSurename', 'age']"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Clear"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(tableref)"
                        ></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="
                                    tableref.filterGlobal(
                                        $any($event.target).value,
                                        'contains'
                                    )
                                "
                                placeholder="ค้นหาชื่อ อายุ"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 2rem">
                            <div>ลำดับ</div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                ชื่อ-นามสกุล
                            </div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Years / Months / Days
                            </div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                อายุ
                            </div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                เบอร์โทรศัพท์
                            </div>
                        </th>
                        <th style="width: 8rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                ตัวเลือก
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-participant
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td style="min-width: 2rem">
                            <span>{{ rowIndex + 1 }}</span>
                        </td>
                        <td style="min-width: 12rem">
                            {{ participant.custName }}
                            {{ participant.custSurename }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ participant.birthday }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ participant.age }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ participant.phone }}
                        </td>
                        <td class="text-center" style="min-width: 8rem">
                            <i
                                class="pi pi-fw pi-eye"
                                (click)="viewParticipant(participant.id)"
                            ></i>
                            <i></i>
                            <i
                                class="pi pi-fw pi-pencil"
                                (click)="editProject(participant.id)"
                            ></i>
                            <i></i>
                            <i
                                class="pi pi-fw pi-trash"
                                (click)="confirmDelete(participant.id)"
                            ></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div>
        <p-confirmDialog
            [style]="{ width: '30%' }"
            [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-text"
        ></p-confirmDialog>
        <p-confirmDialog
            [style]="{ width: '30%' }"
            key="positionDialog"
            [position]="position"
            [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-outlined"
        ></p-confirmDialog>
        <p-toast></p-toast>
    </div>
</div>
<p-dialog
    [(visible)]="addProjectDialog"
    id="add-scg-people"
    header="{{ nameHeader }}"
    [modal]="true"
    styleClass="p-fluid p-formgrid"
>
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="col-12 md:col-12">
                <span class="font-bold text-xl">รหัส</span>
                <div class="pt-3 md:col-4">
                    <input
                        [disabled]="disabledaddProjectDialog"
                        pInputText
                        type="text"
                        placeholder=""
                        [(ngModel)]="ProjectModel.code"
                        id="code"
                        name="code"
                        #code="ngModel"
                    />
                </div>
            </div>

            <div class="col-12 md:col-12">
                <span class="font-bold text-xl">ชื่อ โครงการ</span>
                <div class="pt-3 md:col-6">
                    <input
                        [disabled]="disabledaddProjectDialog"
                        pInputText
                        type="text"
                        placeholder=""
                        [(ngModel)]="ProjectModel.name"
                        id="title"
                        name="title"
                        #title="ngModel"
                    />
                </div>
            </div>

            <div class="col-12 md:col-12">
                <span class="font-bold text-xl">คำอธิบาย</span>
                <div class="pt-3">
                    <textarea
                        [disabled]="disabledaddProjectDialog"
                        rows="5"
                        cols="30"
                        pInputTextarea
                        placeholder="คำอธิบาย"
                        [(ngModel)]="ProjectModel.description"
                        id="description"
                        name="description"
                        #description="ngModel"
                    ></textarea>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="ยกเลิก"
            class="p-button-secondary"
            id="btn-cancel"
            (click)="closeAddReoleDialog()"
        ></button>
        <button
            [disabled]="disabledaddProjectDialog"
            pButton
            pRipple
            label="บันทึก"
            class="p-button-success"
            id="btn-save"
            (click)="onconfirmDialog()"
        ></button>
    </ng-template>
</p-dialog>
