<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="overview-box users">
                <img
                    src="assets/layout/images/icon-sand-clock.png"
                    style="width: 50px; height: 50px"
                    alt="ecuador-layout"
                />
                <div class="overview-title">จำนวนผู้เข้าร่วมโครงการ</div>
                <div class="overview-numbers">300</div>
                <div class="overview-subinfo user">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <div class="overview-box checkins">
                <img
                    src="assets/layout/images/icon-check.png"
                    style="width: 50px; height: 50px"
                    alt="ecuador-layout"
                    class="image-icon"
                />
                <div class="overview-title">
                    จำนวนผู้เข้าร่วมโครงการที่ลงทะเบียนสำเร็จ
                </div>
                <div class="overview-numbers">
                    {{ totalParticipants.countParticipant }}
                </div>
                <div class="overview-subinfo checkin">
                    <span></span>
                </div>
            </div>
        </div>

        <!-- ตารางกราฟของผู้เข้าร่วมโครงการ -->
        <div class="col-12 md:col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-6">
                    <div class="card p-4" style="height: 320px">
                        <h5 class="text-center w-full">
                            ตารางเพศของผู้เข้าร่วมโครงการ
                        </h5>
                        <p-chart
                            type="bar"
                            [data]="genderData"
                            [options]="genderOptions"
                            [height]="200"
                        ></p-chart>
                    </div>
                    <div class="card p-4" style="height: 320px">
                        <h5 class="text-center w-full">
                            ตารางประเภทของผู้เข้าร่วมโครงการ
                        </h5>
                        <p-chart
                            type="line"
                            [data]="participantTypeData"
                            [options]="participantTypeOptions"
                            [height]="200"
                        ></p-chart>
                    </div>
                </div>

                <div class="col-12 lg:col-6">
                    <div class="card p-4" style="height: 320px">
                        <h5 class="text-center w-full mb-5">
                            ตารางทักษะของผู้เข้าร่วมโครงการ
                        </h5>
                        <p-chart
                            type="doughnut"
                            [data]="skillData"
                            [options]="skillOptions"
                            [plugins]="skillPlugins"
                            [height]="200"
                        ></p-chart>
                    </div>
                    <div class="card p-4" style="height: 320px">
                        <h5 class="text-center w-full">
                            ตารางที่อยู่อาศัยของผู้เข้าร่วมโครงการ
                        </h5>
                        <p-chart
                            type="bar"
                            [data]="areaResidenceData"
                            [options]="areaResidenceOptions"
                            [height]="200"
                        ></p-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- ตารางกราฟของผู้เข้าร่วมโครงการ -->

        <!-- ตารางรายชื่อของผู้เข้าร่วมโครงการ -->
        <div class="col-12 md:col-12 lg:col-12">
            <div class="card">
                <h5>ตาราง: รายชื่อผู้เข้าร่วมโครงการ</h5>
                <p-table
                    #tableref
                    [value]="participants"
                    dataKey="id"
                    [rows]="10"
                    [loading]="loading"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    [paginator]="true"
                    [globalFilterFields]="['custName', 'custSurename', 'age']"
                    responsiveLayout="scroll"
                >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex justify-content-between flex-column sm:flex-row"
                        >
                            <button
                                pButton
                                label="ล้าง"
                                class="p-button-outlined mb-2"
                                icon="pi pi-filter-slash"
                                (click)="clear(tableref)"
                            ></button>
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    (input)="
                                        tableref.filterGlobal(
                                            $any($event.target).value,
                                            'contains'
                                        )
                                    "
                                    placeholder="ค้นหาชื่อ อายุ"
                                    class="w-full"
                                />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width: 2rem">
                                <div>ลำดับ</div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    ชื่อ-นามสกุล
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    ว/ด/ป
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    อายุ
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    เบอร์โทร
                                </div>
                            </th>

                            <th style="width: 8rem">
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    ตัวเลือก
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-participant
                        let-rowIndex="rowIndex"
                    >
                        <tr>
                            <td style="min-width: 2rem">
                                <span>{{ rowIndex + 1 }}</span>
                            </td>
                            <td style="min-width: 12rem">
                                {{ participant.custName }}
                                {{ participant.custSurename }}
                            </td>
                            <td style="min-width: 8rem">
                                {{ participant.birthday | date : "MM/dd/yyyy" }}
                            </td>
                            <td style="min-width: 8rem">
                                {{ participant.age }}
                            </td>
                            <td style="min-width: 8rem">
                                {{ participant.phone }}
                            </td>
                            <td class="text-center" style="min-width: 8rem">
                                <i
                                    class="pi pi-fw pi-eye"
                                    (click)="viewParticipant(participant.id)"
                                ></i>
                                <i></i>
                                <i
                                    class="pi pi-fw pi-pencil"
                                    (click)="editParticipant(participant.id)"
                                ></i>
                                <i></i>
                                <i
                                    class="pi pi-fw pi-trash"
                                    (click)="confirmDelete(participant.id)"
                                ></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No customers found.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="7">
                                Loading customers data. Please wait.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
