<div class="logo-container">
    <div class="logo-super-container">
        <div class="logo">
            <img src="/assets/images/about/about-logo.png" alt="">
        </div>
        <div class="about-us">
            <div class="line"></div>
            <h3 class="title-brand">ระยะเวลาโครงการ</h3>
            <h3 class="title-brand">(PROJECT TIMELINE)</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="timeline-container">
        <div class="timeline timeline1">
            <div class="info-timeline">
                <p class="gray-color">01</p>
                <h1 class="title">แผนโครงการระยะที่ 1</h1>
                <p class="th-text">การรวบรวมข้อมูลผู้เข้าร่วมโครงการ นำมาทำการวิเคราะห์เพื่อนำมาพัฒนาแผนการเรียนรู้</p>
                <p class="content">The best software has both a strong back-end and a good front-end. We've got the tools and expertise to assist you in creating an intuitive and engaging user experience that your customers will love and your rivals will envy. Our UX/UI Design. Services include </p>
                <p class="status btn-green">สถานะ : ดำเนินการเสร็จสิ้น</p>
            </div>
            <div class="img-timeline">
                <img src="/assets/images/timeline/timeline1.png" alt="images">
            </div>
        </div>
        <div class="timeline timeline2">
            <div class="info-timeline">
                <p class="gray-color">02</p>
                <h1 class="title">แผนโครงการระยะที่ 2</h1>
                <p class="th-text">การรวบรวมข้อมูลผู้เข้าร่วมโครงการ นำมาทำการวิเคราะห์เพื่อนำมาพัฒนาแผนการเรียนรู้</p>
                <p class="content">The best software has both a strong back-end and a good front-end. We've got the tools and expertise to assist you in creating an intuitive and engaging user experience that your customers will love and your rivals will envy. Our UX/UI Design. Services include </p>
                <p class="status btn-red">สถานะ : กำลังดำเนินการ</p>
            </div>
            <div class="img-timeline">
                <img src="/assets/images/timeline/timeline2.png" alt="images">
            </div>
        </div>
        <div class="timeline timeline3">
            <div class="info-timeline">
                <p class="gray-color">03</p>
                <h1 class="title">แผนโครงการระยะที่ 3</h1>
                <p class="th-text">การรวบรวมข้อมูลผู้เข้าร่วมโครงการ นำมาทำการวิเคราะห์เพื่อนำมาพัฒนาแผนการเรียนรู้</p>
                <p class="content">The best software has both a strong back-end and a good front-end. We've got the tools and expertise to assist you in creating an intuitive and engaging user experience that your customers will love and your rivals will envy. Our UX/UI Design. Services include </p>
                <p class="status btn-gray">สถานะ : รอดำเนินการ</p>
            </div>
            <div class="img-timeline">
                <img src="/assets/images/timeline/timeline3.png" alt="images">
            </div>
        </div>
    </div>
</div>