* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans Thai', sans-serif;
    box-sizing: border-box;
}

.logo-container {
    background-color: #EBFAF4;
}

.logo-super-container {
    display: flex;
    max-width: 1080px;
    margin: auto;
}

.logo, .about-us {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 55%;
}

.about-us {
    width: 45%;
    align-content: center;
    margin: auto;
    position: relative;
}

.title-brand {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.logo img {
    width: 70%;
    margin: auto;
    max-width: 350px;
    display: block;
}


.line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #00D285;
    left: -60px;
    bottom: 48px;
}
//End Logo

.container {
    max-width: 1080px;
    padding: 10px;
    margin: auto;
}

.timeline-container {
    display: flex;
    flex-direction: column;
}

.timeline1, .timeline2, .timeline3 {
    display: flex;
    flex-direction: column-reverse;
}

.img-timeline img{
    width: 100%;
    max-height: 420px;
    display: block;
    margin: auto;
}

.timeline {
    margin: 60px auto 0 auto;
}

.info-timeline {
    margin: 24px auto 0 auto;
    border-radius: 20px;
    padding: 10px;
    background-color: #EBFAF4;
}

.title {
    font-size: 1.5rem;
}

.gray-color {
    color: #7B7B7B;
}

.th-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.status {
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    margin: 20px auto;
    padding: 8px 0;
}

.btn-green {
    background-color: #00D285;
}

.btn-red {
    background-color: #D20000;
}

.btn-gray {
    background-color: #8D8D8D;
}

.line {
    display: none;
}


@media(min-width: 700px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .timeline {
        display: flex;
        flex-direction: row;
    }

    .info-timeline, .img-timeline {
        width: 50%;
    }

    .info-timeline {
        background-color: white;
        padding-top: 30px;
    }

    .img-timeline {
        padding: 0 10px;
        max-height: 450px;
    }
    
    .img-timeline img {
        width: 100%;
        max-width: 450px;
        height: 100%;
    }

    .timeline2 {
        flex-direction: row-reverse;
    }

    .timeline3 {
        margin-bottom: 74px;
    }

    .line {
        display: block;
    }
    //Logo



    //End logo
}